.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background-image: url("https://images7.alphacoders.com/857/857340.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.button {
    text-align: center;
}

.foot{
    display: flex;
    flex-direction: column;
    background: brown
}

.info {
    
    vertical-align: middle;
    text-align: center;
    width: calc(130vw/2);
    height: 50vh;
}

.info div{
    
    text-align: center;
}

.button{
    line-height: 7vh;
    vertical-align: middle;
    margin-top: 5vh;
    background: yellow;
    border-radius: 3vh;
    width: 10em;
    height: 7vh;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

}